<!DOCTYPE html>
<html>
  <head>
    <title>ArtTest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "styles", media: "all" %>
    <%= javascript_pack_tag 'vue' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
